.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.images{
    width: 3cm;
    height: 3cm;
    display: flex;
    flex-direction: row;
    
}
#hobbies{
    color: blue;
    background-color: rgb(45, 193, 37);
    width: 120px;
}
#Rechner i {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }
  #Rechner:hover i {
    top: -10px;
  }