/* Default style for the button */
.button {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid black; /* Specify border-style and border-color */
    padding: 3px 8px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 10px;
    float: left;
}

.button-container {
    display: inline-block; /* Display buttons side by side */
    margin-right: 10px; /* Add some spacing between buttons */
}