body, html{ 
    margin: 0;
    overflow-x: hidden; 
    overflow-y: hidden; 
    background-color: black;
}


#controls{
    background-color: rgb(0, 0, 0);
    margin: 0;
    width: 96vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 10;  
    bottom: 0; 
    margin-bottom: 10px; 
    margin-left: 3vw; 
    position: fixed;
}

#info{
    color: rgb(172, 172, 172); 
}

select, button {
    background-color: #2e2e2e; /* Green */
    border: none;
    color: rgb(172, 172, 172); 
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:monospace;
  }

.containers{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*Chrome Only*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 30vw;
      -webkit-appearance: none;
      background-color: #3a3a3a;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #b7b7b7;
    }

}
